<template>
  <div id="app">
    <h1>Meilleur bonhomme pendu au monde</h1>
    <div class="button">
      <button v-for="lettre in lettres"
      :key="lettre" @click="check(lettre, $event)">{{lettre}}</button>
    </div>
    <div>
      {{motCache}}
      <div>
        Il vous reste : {{vies}} vies.
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'app',
  data() {
    return {
      lettres: [],
      mot: '',
      banqueDeMots: [],
      motCache: '',
      lettresRegex: '',
      victoire: '',
      vies: 3,
    };
  },
  created() {
    this.lettres = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
      'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];
    this.banqueDeMots = ['banane', 'anticonstitutionellement', 'caiman', 'attarde', 'poivron'];
    this.mot = this.banqueDeMots[Math.floor(Math.random() * 5)];
    this.motCache = this.mot.replace(/./g, '_ ');
  },
  methods: {
    check(lettre, event) {
      event.target.disabled = true;// eslint-disable-line no-param-reassign
      if (this.vies > 0 && this.mot.includes(lettre.toLowerCase())) {
        this.lettresRegex += `(?!${lettre.toLowerCase()})`;
        const reg = new RegExp(`${this.lettresRegex}.`, 'g');
        this.motCache = this.mot.replace(reg, '_ ');
      } else {
        this.vies -= 1;
      }
      this.checkStatus();
    },
    checkStatus() {
      if (!this.motCache.includes('_')) {
        alert('Victoire bravo!!');
        window.location.reload();
      } else if (this.vies === 0) {
        alert(`Tas pas reussi a deviner le mot. C'etait : ${this.mot}`);
        window.location.reload();
      }
    },
  },
};
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.button{
  display:inline;
}
</style>
